@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$open-sans: 'Open Sans Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$text-color: #333;
$text-light-color: #666;
$purple: #0881a3;
$neon-blue: #00bbf0;


* { box-sizing: border-box; }

body {
	width: 100vw;
	font-family: $montserrat;
	font-size: 12px;
	font-weight: 400;
	color: $text-color;
	overflow-x: hidden;
}

a { text-decoration: none; }

.main-header {
	margin-top: 150px;
  text-align: center;

  h1 {
    margin: 0;
    font-family: $open-sans;
    font-size: 5em;
    text-transform: uppercase;
    line-height: 0.8em;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 1.4em;
		font-weight: 300;
    color: $text-light-color;

    span {
      display: inline-block;
      margin: 0 5px;
			font-size: 0.7em;
      color: $neon-blue;
    }
  }

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
		margin: 50px inherit;
		list-style: none;

    li {
      z-index: 2;
      margin: 0 10px;
      background-color: #fff;
      transition: 150ms linear;

      a {
        display: block;
        padding: 8px 25px;
        font-family: $open-sans;
        font-size: 1.2em;
				text-transform: uppercase;
        color: #333;
        letter-spacing: 1px;
      }

      &:hover {
        text-shadow: 0.5px 0.5px 0px #fff, 1px 1px 0px $neon-blue;
        transform: scale(1.08);
        cursor: pointer;
      }
    }
  }
}


::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track { background-color: #fff; }
::-webkit-scrollbar-thumb {
  background-color: #5cc3c7;
  border: 5px #fff solid;
}
::-webkit-scrollbar-track:vertical { width: 3px; }
::-webkit-scrollbar-track:horizontal { height: 3px; }

.subsection {
	width: 100vw;
	padding: 150px 0;
	&.alternate { background-color: #efefef; }

	.content {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		width: 80%;
		max-width: 1200px;
	}
}

h3.subtitle {
	margin-top: 0;
	margin-bottom: 80px;
	font-size: 2.5em;
	text-align: center;

	&::after {
		display: block;
		width: 80%;
		border-bottom: 1px solid #333;
	}
}

.bio {
	p {
		margin-left: 50px;
		font-size: 1.5em;
		line-height: 2em;

		a {
			display: inline-block;
			margin-top: 25px;
			padding: 10px 30px;
			color: $purple;
			border: 2px solid $purple;
		}
	}

	img {
		width: 300px;
		height: auto;
	}
}

.project {
	margin: auto;
  width: 45%;

  .description {

    h4 {
      margin: 0;
      font-family: $montserrat;
      font-size: 1.4em;
			font-weight: 400;
			color: $text-color;
      text-align: left;

      &::before {
        content: '›';
        margin-right: 10px;
        color: $neon-blue;
      }
    }

    .year {
			display: block;
			margin: 8px;
			margin-left: 20px;
      font-family: $open-sans;
			font-size: 1.2em;
			color: $purple;
    }
  }

	p {
		margin-top: 5px;
		font-family: $montserrat;
		font-weight: 300;
		color: $text-color;
	}

	img {
		margin-top: 15px;
		width: 100%;
	}
}

.contact {
	a {
		display: block;
		margin: 0 10px;
		padding: 20px;
		background-color: $neon-blue;
		border-radius: 40px;
		transition: 150ms linear all;

		&:hover {
			background-color: $purple;
			transform: scale(1.1);
		}
	}

	img {
		max-width: 40px;
		filter: invert(100%);
	}
}

.credit {
	margin-top: 50px;
	font-size: 0.95em;
	text-align: center;
}
