@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
* {
  box-sizing: border-box; }

body {
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #333;
  overflow-x: hidden; }

a {
  text-decoration: none; }

b {
  font-weight: 400; }

.row-break {
  width: 100%; }

.main-header {
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }
  .main-header h1 {
    margin: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    line-height: 0.8em;
    color: #fff;
    text-shadow: 2px 2px 0px #000; }
  .main-header h2 {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: 300;
    color: #fff; }
    .main-header h2 span {
      display: inline-block;
      margin: 0 5px;
      font-size: 0.7em;
      color: #00bbf0; }
  .main-header .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px inherit;
    list-style: none; }
    .main-header .main-nav li {
      z-index: 2;
      margin: 0 10px;
      transition: 150ms linear; }
      .main-header .main-nav li a {
        display: block;
        padding: 8px 25px;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 1.2em;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px; }
      .main-header .main-nav li:hover {
        text-decoration: underline;
        text-shadow: 1px 1px 0px #0881a3;
        transform: scale(1.1);
        cursor: pointer; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #5cc3c7;
  border: 5px #fff solid; }

::-webkit-scrollbar-track:vertical {
  width: 3px; }

::-webkit-scrollbar-track:horizontal {
  height: 3px; }

.subsection {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh; }
  .subsection.alternate {
    background-color: #efefef; }

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 80%;
  max-width: 1200px; }

h3.subtitle {
  margin-top: 0;
  margin-bottom: 80px;
  width: 100%;
  font-size: 2.5em;
  text-align: center; }

.bio p {
  margin-left: 50px;
  font-size: 1.4em;
  line-height: 2em; }
  .bio p a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 30px;
    color: #0881a3;
    border: 2px solid #0881a3; }
.bio img {
  width: 300px;
  height: auto; }

.project {
  margin: auto;
  width: 45%; }
  .project .description h4 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #333;
    text-align: left; }
    .project .description h4::before {
      content: '›';
      margin-right: 10px;
      color: #00bbf0; }
  .project .description .year {
    display: block;
    margin: 8px;
    margin-left: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
    color: #0881a3; }
  .project p {
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #333; }
  .project img {
    margin-top: 15px;
    width: 100%; }

.contact {
  padding: 50px 0; }
  .contact a {
    display: block;
    margin: 0 10px;
    padding: 20px;
    background-color: #00bbf0;
    border-radius: 40px;
    transition: 350ms linear all; }
    .contact a:hover {
      background-color: #0881a3;
      transform: scale(1.15) rotate(360deg); }
  .contact img {
    max-width: 40px;
    filter: invert(100%); }

.credit {
  font-size: 0.95em;
  text-align: center; }
