@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$open-sans: 'Open Sans Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$text-color: #333;
$text-light-color: #666;
$purple: #0881a3;
$neon-blue: #00bbf0;


* { box-sizing: border-box; }

body {
	width: 100vw;
	font-family: $montserrat;
	font-size: 12px;
	font-weight: 300;
	color: $text-color;
	overflow-x: hidden;
}

a { text-decoration: none; }
b { font-weight: 400; }

// [class$="row-break"] { width: 100%; }


.main-header {
	height: 100vh !important;
	text-align: center;
	background: {
		image: url('../img/background.png');
		attachment: fixed;
		position: center center;
		size: cover;
	}

	h1,
	h2 {
		padding: 0 45px;
		width: 100%;
	}

  h1 {
    margin: 0;
    font-family: $open-sans;
    font-size: 3.2em;
    text-transform: uppercase;
    line-height: 1em;
		color: #fff;
		text-shadow: 2px 2px 0px #000;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 1.5em;
		font-weight: 300;
		line-height: 1.6em;
    color: #fff;

    span {
      display: inline-block;
      margin: 0 5px;
			font-size: 0.7em;
      color: $neon-blue;
    }
  }

	#open-nav { display: none; }
	#open-nav:checked ~ .main-nav {
		float: left;
		width: 100vw;
	}

	.toggle-nav {
		position: absolute;
		top: 25px;
		left: 25px;
		font-size: 3em;
	}

	.toggle-nav,
	.close-nav {
		color: #fff;
		cursor: pointer;
		transition: 150ms;
	}

	.close-nav { font-size: 2em; }

	.toggle-nav:hover,
	.close-nav:hover { color: $neon-blue !important; }

	.main-nav {
	  position: fixed;
		z-index: 999;
		padding-top: 2em;
	  left: 0;
	  top: 0;
	  width: 0;
	  height: 100vh;
	  overflow: hidden;
	  background-color: $text-color;
	  transition: 350ms;

	  ul {
	    margin: 5em 0;
	    padding: 0;

	    li a {
	      display: block;
	      padding: 1em;
				font-family: $open-sans;
	      font-size: 1.5em;
	      text-transform: uppercase;
				letter-spacing: 1px;
	      text-align: left;
	      color: #fff;
				border-bottom: solid 1px #fff;
	      transition: 350ms;

		    &:hover {
		      padding-left: 2em;
					text-shadow: 1px 1px 0px $text-color;
		      background-color: $neon-blue;
		      transition: 350ms;
				}
			}
		}

		.close-nav {
			float: left;
			margin-left: 0.5em;
			color: #fff!important;
		}
	}
}

::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track { background-color: #fff; }
::-webkit-scrollbar-thumb {
  background-color: #5cc3c7;
  border: 5px #fff solid;
}
::-webkit-scrollbar-track:vertical { width: 3px; }
::-webkit-scrollbar-track:horizontal { height: 3px; }

.subsection {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 25px;
	width: 100vw;
	height: 100%;
	&.alternate { background-color: #efefef; }
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 80%;
	max-width: 1200px;
}

h3.subtitle {
	margin-top: 0;
	margin-bottom: 50px;
	width: 100%;
	font-size: 2em;
	text-align: center;
}

.bio {
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	p {
		width: 100%;
		font-size: 1.1em;
		line-height: 1.8em;

		a {
			display: inline-block;
			margin-top: 25px;
			padding: 10px 30px;
			color: $purple;
			border: 2px solid $purple;
		}
	}

	img {
		width: 200px;
		height: auto;
	}
}

.project {
	margin-bottom: 50px;
  width: 100%;

  .description {
    h4 {
      margin: 0;
      font-family: $montserrat;
      font-size: 1.2em;
			font-weight: 400;
			color: $text-color;
      text-align: left;

      &::before {
        content: '›';
        margin-right: 10px;
        color: $neon-blue;
      }
    }

    .year {
			display: block;
			margin: 8px;
			margin-left: 20px;
      font-family: $open-sans;
			font-size: 1.1em;
			color: $purple;
    }
  }

	p {
		display: none;
		font-family: $montserrat;
		font-size: 1.1em;
		font-weight: 300;
		text-align: center;
		color: $text-color;
	}

	img {
		margin-top: 15px;
		width: 100%;
	}
}

.contact {
	padding: 50px 0;

	a {
		display: block;
		margin: 0 10px;
		padding: 20px;
		background-color: $neon-blue;
		border-radius: 40px;
		transition: 350ms;

		&:hover {
			background-color: $purple;
			transform: scale(1.15) rotate(360deg);
		}
	}

	img {
		max-width: 20px;
		filter: invert(100%);
	}
}

.credit {
	margin-bottom: 25px;
	font-size: 0.95em;
	text-align: center;
	color: $text-light-color;
}

@import "responsive";
